<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../partial/index.css">
    <title>Confession</title>
</head>
<body>
    <section>
        <div class="homepage">
            <div class="content">
                <h2>Hi. This is Confessout.</h2>
                <p>Anonymous Messaging on Steriods</p>
                <br>
                <form action="./signup">
                    <button class="signupnow">
                        Signup Now
                    </button>
                </form>
                <br>
                <p>or</p>
                <br>
                <form action="./login">
                    <button class="loginnow">
                        Login Now
                    </button>
                </form>
            </div>
        </div>
    </section>
    <div class="sendmsg">
        <h2>
            Send Messages Anonymously
        </h2>
        <p>
            One More thing you can reply to messages also! Ahh
        </p>
    </div>
    <div class="service">
        <div class="sendimg">
            <img src="../images/send.png" alt="send">
        </div>
        <h3>Send</h3>
        <p>Send Anonymously Messages to anyone. We won't disclose the identity of the logged-in senders.</p>
    </div>
    <div class="blank">

    </div>
    <div class="service">
        <div class="recieve">
            <img src="../images/recieve.png" alt="send">
        </div>
        <h3>Recieve</h3>
        <p>Receive message from anyone but with a twist, you can't know who is the sender.So Chat Anonymously.</p>
    </div>
    <div class="blank">
    </div>
    <div class="service">
        <div class="reply">
            <img src="../images/reply.png" alt="send">
        </div>
        <h3>Reply</h3>
        <p>Once you receive messages you can reply them also but still, you can't know who is the receiver.</p>
    </div>
    <div class="signupend">
        <h2>Sign Up Now To The Trend!</h2>
        <form action="./signup">
            <button class="signupnow">
                Signup Now
            </button>
        </form>
    </div>
    <div class="terms">
        <p>© Confessout. All rights reserved. 2017</p>
        <p>Disclaimer : We are not resposible for any kind of lose, harassment, vulgar messages you recvieve while using
            confssout use this app at your own responsibility.</p>
    </div>
</body>
</html>